.define {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.define__container {
    margin: 0 auto;
}

.define__buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.define__submit, .define__reset:hover {
    cursor: pointer;
}